* {
  box-sizing: border-box; }

body {
  background-color: white;
  margin: 0;
  padding: 0; }

.scene {
  margin-top: 600px; }
  .scene .area {
    perspective: 1200px;
    max-width: 1200px; }
    .scene .area .wrapper.on {
      animation: rotate 10s infinite linear; }
    .scene .area .wrapper {
      transform-style: preserve-3d;
      background-color: yellow;
      position: relative;
      left: 25%; }
      .scene .area .wrapper .wall {
        transform-style: preserve-3d;
        position: absolute;
        display: block; }
        .scene .area .wrapper .wall .grid {
          display: block;
          width: 120px;
          height: 120px;
          border: 3px solid gray;
          margin: 0 auto;
          position: absolute;
          background-color: transparent;
          transform-origin: 0 0; }
